
/* PER OGNI PAGINA HTML DEL PROGETTO*/
html{
    overflow-x: hidden;
    overflow-y: auto;
    /*colore da usare  forse #b3f922 70e0c2*/
}

body{
  margin: auto;
  width: auto;
  background: #370050; /* per i browser che non supportano il gradiente*/
/*/ì  background: -webkit-linear-gradient(to  right,  #140afb, #90ffff);  /* Chrome 10-25, Safari 5.1-6 */
/*  background: linear-gradient(to  right,  #140afb, #90ffff);
  background: -moz-linear-gradient(to  right,  #140afb, #90ffff); *//* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}




/*PAGINA WELCOME*/
#semprePerPrimaPagina{
  color:#25f3ff;
  text-align: center;
  font-size: 145%;
}
#titoloAmministratore{
  font-weight: bolder;
  color: #FFFFFF;
  font-size: 90%;
}
#titoloPrimaPagina {
  color:#25f3ff;
  text-align: center;
  font-size: 330%;
  margin-top: 30%;
  margin-bottom: 7%;
}

#soloPerLaPrimaPagina {
  height: 50vh;
}

#soloPerLaPrimaPagina .primaP form {
  height: 50%;
  margin-top: 25%;
}

#bottoni {
  height: 100%;
  text-align: center;
}

.bottoniPrimaPagina {
  margin-top: 7%;
  background-color: #adffff;
  color:#370050;
  font-weight: bolder;
}

/*PAGINA LU e PAGINA LA e PAGINA LUC*/
.rigaTitolo {
  text-align: center;
  margin-top: 2%;
  display: block;
  color:#25f3ff;
  font-size: 250%;
}

.parole #linkLoginCompleto {
  text-decoration: underline;
  color: #FFFFFF;
}

.parole #linkLoginCompleto:hover {
  color: #79ff44;
}

.parole {
  text-align: center;
  margin-top: 5%;
  font-style: normal;
  font-size: 100%;
  color: #FFFFFF;
}

.loginCompleto {
  margin-top: 10%;
}

.loginCompleto div div form {
  margin-top: 8%;
}

 .campi {
width: 80%;
margin-left: 10%;
}


.loginCompleto div div form  .bottoni_LUC {
  margin-top: 3%;
  padding-bottom: 4%;
  margin-left: 9%;
  font-size: 120%;
  background-color: #adffff;
  color:#370050;
}

form fieldset> legend {
  font-style: normal;
  text-align: center;
  color: #FFFFFF;
  text-decoration: underline;
}

#titoloAmministratore {
text-align: center;
font-style: normal;
font-size: 170%;
}

/*HU*/
.menuNavigazione div nav{
  margin-left: 25%;
  width: 50%;
  background-color: #adffff;
  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
}

.menuNavigazione div nav button .navbar-toggler-icon {
  width: 20px !important;
  height: 20px !important;
/*  background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=#adffff');*/
}

.menuNavigazione div nav .menuSelezioneInterno ul li .menuSelezione {
  font-style: normal;
  font-weight: bold;
  font-size: medium;
  color: black;
}

  /*per la barra scorrimento della lista alimenti*/
.main div main .section div section ul{
  margin-bottom: 0%;
  margin-left: 5%;
  height: 50vh;
  min-height: 58vh;
  max-height: 90vh;
  overflow-y: scroll;
  display: block;
  width: 90%;
}

.main div main .section div section .h2 {
  margin-top: 3%;
  color:#FFFFFF;
  font-size: 200%;
  text-align: center;
  text-decoration: underline;
  -webkit-animation: animazTitoloHU 2s ; /* Safari 4.0 - 8.0 */
 -webkit-animation-timing-function: linear;
  font-weight: bolder;
}

  @keyframes animazTitoloHU {
    from {left: 0px;
      color:#370050;
      font-weight: bolder;
      font-size: 50%;
    }
    to {left: 40%;
      color: #FFFFFF;
      font-weight: bolder;
      font-size: 200%;
    }
   }

.main div main .section div section ul .contenitore{
  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  margin: 5%;
  padding: 1%;
  text-align: center;
  background-color: #a6b5ff;
 }

.main div main .section div section ul  .contenitore .elemento {
  animation-name: nomeAlimenti;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  font-size: large;
  font-weight: bolder;
  margin-top: 2%;
}

.main div main .section div section ul .contenitore .prezzo{
  text-align: center;
  font-style: normal;
  font-size: medium;
  margin-bottom: 2%;
  color: #820083;
}
.main div main .section div section ul .contenitore .descrizione{
  text-align: center;
  font-style: normal;
  font-size: medium;
  margin-bottom: 2%;
  margin-top: 2%;
  color: #820083;
}

.main div main .section div section ul .contenitore .btAggiungiAlCarrello{
  text-align: center;
  margin-bottom: 5%;
  margin-top: 1%;
  color: #FFFFFF;
  background-color:#88000d;
 }

   @keyframes nomeAlimenti {
       0%   {color: #5ec3e5;}
       25%  {color: #0a07c1;}
       50%  {color: #cc06ab;}
       100% {color: #d6040b;}
   }

.bottoniCarrello {
   margin-top: 5%;
   text-align: center;
}

/*CARRELLLOOOOOOOO CU*/
.bottoniCarrello .btCarrello{
  margin-bottom: 0px;
  text-align: center;
  font-weight: bold;
  color: #111111;
  background-color:#ff750a;
}

div .lista  .formCarrello{
 margin: 0%;
 max-height: 10vh;
}

#carrelloVuoto{
  color: #0404B4;
  border-radius: 61px 61px 61px 61px;
  -moz-border-radius: 61px 61px 61px 61px;
  -webkit-border-radius: 61px 61px 61px 61px;
  text-align: center;
  font-size: 110%;
  font-style: normal;
  font-weight: bolder;
  margin-top: 40%;
  color: #93ff69;
}

.main div main .section div section #pagare #mostrosomma{
  font-weight: bold;
  font-size: 140%;
  text-align: center;
/*  border-radius: 61px 61px 61px 61px;
  -moz-border-radius: 61px 61px 61px 61px;
  -webkit-border-radius: 61px 61px 61px 61px;*/
  -webkit-animation: animazCU 1s ; /* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes animazCU {
  from {left: 0px;
      color: #e9c300;
  }
  to {left: 40%;
color: #ff67ff;
  }
 }



 .main div main .section div section #lista_carrello .eliminaQuantita{
   margin-bottom: 2%;
   text-decoration: underline;
   color: #930025;
 }

 .main div main .section div section #lista_carrello .quantityCart{
   margin-top: 2%;
   margin-left: 1%;
   text-align: center;
 }


 .main div main .section div section #lista_carrello .contenitore .labelQuantitàCibo{
   margin-bottom: 2%;
 }

 @keyframes nomeAlimenti {
     0%   {color: #5ec3e5;}
     25%  {color: #0a07c1;}
     50%  {color: #cc06ab;}
     100% {color: #d6040b;}
 }


/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2efeff;
}

@-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1) rotate(0deg);
    }
    50% {
      -webkit-transform: scale(1.1) rotate(-5deg);
    }
    100% {
      -webkit-transform: scale(1) rotate(0deg);
    }
}

/*NOTIFICHE UTENTE*/

.main div main .section div section #elencoNotifiche .nessunaNotifica {
  width: 90%;
  text-align: center;
  margin-top: 60%;
  font-style: normal;
  font-weight: bolder;
  color: #93ff69;
}
.main div main .section div section #elencoNotifiche {
  text-align: left;
  height: 100%;
  margin-top: 5%;
  color: #FFFFFF;
}
.main div main .section div section #elencoNotifiche .notificaNuova{
  animation-name: animazCU;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  font-size: large;
  font-style: normal;
  font-weight: bolder;
  margin-top: 10%;
  margin-right: 5%;
}

.main div main .section div section #elencoNotifiche .notificaLetta{
  font-size: small;
  font-style: normal;
  font-weight: bold;
  margin-top: 10%;
  margin-right: 5%;
}
.main div main .section div section #elencoNotifiche .notificaNuova h4{
  animation-name: animazCU;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.main div main .section div section div form {
text-align: center;
}

.main div main .section div section div form .buttonRimuoviNotifiche{
  font-size: large;
  font-style: normal;
  font-weight: bold;
  margin-top: 10%;
  background-color: #adffff;
  color:#370050;
}


/* HA*/
.menuNavigazioneAdmin{
  margin-top: 10%;
}
.menuNavigazioneAdmin div nav{
  margin-top: 2%;
}
.menuNavigazioneAdmin div nav div .bottoniAdmin:hover {
    -webkit-animation: pulse 1s ease 0s infinite normal;
    -o-animation: pulse 1s ease 0s infinite normal;
    -moz-animation: pulse 1s ease 0s infinite normal;
    animation: pulse 1s ease 0s infinite normal;
    color: #860022;
}

.menuNavigazioneAdmin div nav .bottoniAdmin {
  margin-top: 10%;
  margin-bottom: 8%;
  -moz-box-shadow: 0 0 0 3px #111111, 2px 1px 4px 4px rgba(10,10,0,.5);
  -webkit-box-shadow: 0 0 0 3px #111111, 2px 1px 4px 4px rgba(10,10,0,.5);
  -o-box-shadow: 0 0 0 3px #111111, 2px 1px 4px 4px rgba(10,10,0,.5);
  box-shadow: 0 0 0 3px #111111, 2px 1px 6px 4px rgba(10,10,0,.5);
  background-image: -moz-linear-gradient(0deg, rgb(133, 255, 255) 50%, transparent 10%),-moz-linear-gradient(rgb(85, 179, 255) 50%, transparent 50%);
  background-image: -webkit-linear-gradient(0deg, rgb(133, 255, 255) 50%, transparent 10%),-webkit-linear-gradient(rgb(85, 179, 255) 50%, transparent 50%);
  background-image: -o-linear-gradient(0deg, rgb(133, 255, 255) 50%, transparent 10%),-o-linear-gradient(rgb(85, 179, 255) 50%, transparent 50%);
  background-size:10px 10px;
  background-color: #ff95ff;
  color: black;
  font-weight:500;
}

/*ANAA*/

.main div main  .formAlimenti{
  margin-top: 2%;
}

.main div main  .formAlimenti div #aggiungiAlimento .divAggiungiAlimento{
  margin-top: 4%;
  width: 100%;
}

.main div main  .formAlimenti div #aggiungiAlimento .divAggiungiAlimento input{
  border-radius: 61px 61px 61px 61px;
  -moz-border-radius: 61px 61px 61px 61px;
  -webkit-border-radius: 61px 61px 61px 61px;
  width: 100%;
  text-align: center;
  font-size: medium;
  font-style: normal;
  padding-top: 1%;
  padding-bottom: 1%;
  color: #370050;
}
#btAggiungiAlimento1{
  margin-top: 8%;
  background-color: #adffff;
  color: #370050;
}
.main div main  .formAlimenti div #aggiungiAlimento .divAggiungiAlimento textarea{
  border-radius: 61px 61px 61px 61px;
  -moz-border-radius: 61px 61px 61px 61px;
  -webkit-border-radius: 61px 61px 61px 61px;
  width: 100%;
  border-style: ridge;
  height: 100%;
  text-align: center;
  resize:none;
  font-size: medium;
  font-style: normal;
  overflow:auto;
}

/*PAGINA MAA*/
.main div main .section div section #lista_amministratore  {
  font-size: medium;
  font-style: normal;
  text-align: center;
  margin: auto;
  padding: inherit;
    color: #063f6e;;
}

.main div main .section div section #lista_amministratore .formModificaAlimenti  {
  font-size: large;
  font-weight: bolder;
  text-align: center;
  border-color: inherit;
  margin-top: 10%;
  background-color: #adff97;
}

.main div main .section div section #lista_amministratore .formModificaAlimenti .liMAA {
  animation-name: nomeAlimenti;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  font-size: 120%;
  font-weight: bolder;
  text-align: center;
}

.main div main .section div section #lista_amministratore .formModificaAlimenti #id{
width: 10%;
text-align: center;
margin-left: 3%;
margin-top: 1%;
border-color: white;
}

.main div main .section div section #lista_amministratore .formModificaAlimenti  .incrementaMax {
width: 32%;
margin-bottom: 4%;
margin-right: 2%;
background-color: #ad0021;
color: #FFFFFF;
}

.main div main .section div section #lista_amministratore .formModificaAlimenti p {
margin: 1%;
}

/*PER IPAD*/
@media screen and (min-width: 768px) {
/*PAGINA WELCOME*/
#semprePerPrimaPagina{
  font-size: 230%;
}
#titoloPrimaPagina{
  font-size: 580%;
  margin-bottom: 5%;
}
/*fomr che è maggiore di h1*/

#soloPerLaPrimaPagina .primaP form{
  margin-top: 15%;
}

.bottoniPrimaPagina{
  height: 30%;
  width: 50%;
  margin: 4%;
  font-size: 200%;
}
/*PAGINA LU e PAGINA LA OOOKKK*/
#titoloAmministratore{
  font-size: 220%;
}
.rigaTitolo{
  font-size: 414%;
}
.parole{
  font-size: 160%;
}

.container-fluid{
  height: 100vh;
}
.loginCompleto{
  height: 60%;
}
.legendLU{
  font-size: 280%;
}

.campi{
height: 30%;
margin-left: 5%;
width: 90%;
font-size: 170%;
}

.loginCompleto div div form  .bottoni_LUC{
  font-size: 200%;
  margin-left: 6.5%;
  margin-top: 10%;
  width: 40%;
  height: 25%;
}

/*PAGINA LUC OOK*/
.campiA{
  height: 15%;
}
.loginCompleto div div form .bottoni_LUCA{
  height: 15%;
}

/*HU*/

.menuNavigazione div nav{
  width: 120%;
  margin-left: 0%;
  height: 100%;
}
.menuNavigazione div nav .menuSelezioneInterno ul li .menuSelezione{
  font-size: 150%;
font-style: normal;
font-weight: bold;
}

.main div main .section div section .h2{
  margin-top: 3%;
  font-size: 350%;
}
.main div main .section div section ul{
  width: 100%;
  margin-left: 0%;
}
.main div main .section div section ul .contenitore{
  margin-top: 5%;
  padding: 1%;
}
.main div main .section div section ul  .contenitore .elemento {
font-size: 180%;
}
.main div main .section div section ul .contenitore .descrizione{
font-size: 160%;
}
.main div main .section div section ul .contenitore .prezzo{
  font-size: 160%;
}
.main div main .section div section ul .contenitore .btAggiungiAlCarrello{
font-size: 170%;
height: 7vh;
width: 60%;
margin-bottom: 2%;
}
.main div main .section div section form .btCarrello {
margin-bottom: 5%;
width: 60%;
font-size: 190%;
height: 8vh;
}

/* CARRELLO CU*/

#carrelloVuoto{
  border-radius: 61px 61px 61px 61px;
  -moz-border-radius: 61px 61px 61px 61px;
  -webkit-border-radius: 61px 61px 61px 61px;
  text-align: center;
  font-size: 200%;
  font-style: normal;
  font-weight: bolder;
  margin-top: 20%;
}

.main div main .section div section #lista_carrello{
  min-height: 53vh;
  max-height: 64vh;
  margin-bottom: 5%;
}

.main div main .section div section #pagare #mostrosomma{
  margin-top: 0%;
  font-size: 210%;
}
.main div main .section div section #lista_carrello .eliminaQuantita{
font-size: 150%
}


.main div main .section div section #lista_carrello .quantityCart{
  font-size: 150%;
}


.main div main .section div section #lista_carrello .contenitore .labelQuantitàCibo{
font-size: 150%;
}
/*NOTIFICHE UTENTE*/
.main div main .section div section #elencoNotifiche .nessunaNotifica {
 font-size: 200%;
 margin-top: 40%;
}

.main div main .section div section #elencoNotifiche .notificaNuova h4{
  font-size: 160%;
}
.main div main .section div section #elencoNotifiche .notificaLetta h4{
  font-size: 160%;
}
.main div main .section div section #elencoNotifiche .notificaNuova{
  font-size: 145%;
}
.main div main .section div section #elencoNotifiche .notificaLetta{
  font-size: 145%;
}

.main div main .section div section div form .buttonRimuoviNotifiche{
  font-size: 190%;
  height: 8vh;
}

/*PAGINA HA*/
#menuNavigazioneAmministratore div{
  height: 100%;
}
#menuNavigazioneAmministratore div nav div .bottoniAdmin{
  margin-top: 8%;
  font-size: 190%;
}
/*PAGINA ANAAA*/
.main div main  .formAlimenti div #aggiungiAlimento .divAggiungiAlimento{
  height: 8vh;
  margin-top: 5%;
}

.main div main  .formAlimenti div #aggiungiAlimento .divAggiungiAlimento input{
  height: 100%;
  font-size: 190%;
}
.main div main  .formAlimenti div #aggiungiAlimento .divAggiungiAlimento textarea{
    font-size: 190%;
  }

#btAggiungiAlimento1{
  font-size: 190%;
  height: 8vh;
  margin-top: 15%;
}


.main div main .section div section #lista_amministratore .formModificaAlimenti  {
font-size: 170%;
}


.main div main .section div section #lista_amministratore .formModificaAlimenti  .incrementaMax {
  font-size: 90%;
  margin-top: 3%;
  margin-left: 2%;
}

}

/*  PER desktop*/
@media screen and (min-width: 1024px) {
  /*WELCOMEEEEEE*/
  #semprePerPrimaPagina{
    margin-bottom: 3%;
  }

  #titoloPrimaPagina{
    font-size: 600%;
    margin-top: 3%;
    margin-bottom: 2%;
  }

  #soloPerLaPrimaPagina .primaP form{
    margin-top: 0%;
    height: 50vh;
  }

  .bottoniPrimaPagina{
    margin: 4% 10%;
    width: 35%;
    height: 20%;
  }

  /*PAGINA LU e PAGINA LA OOOKKK*/
  .loginCompleto form{
    margin-top: 0%;
    margin-bottom: 0%;
  }
    .loginCompleto form fieldset{
      margin-top: 0%;
    }
  .rigaTitolo{
    font-size: 260%;
    margin-top: 1%;
    margin-bottom: 2%;
  }
  .parole{
    font-size: 110%;
    margin-top: 0%;
  }

  .loginCompleto{
    height: 60%;
    margin-top: 0%;
  }
  .legendLU{
    font-size: 180%;
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .campi{
    height: 17%;
    font-size: 100%;
    width: 50%;
    margin-left: 25%;
  }

  .loginCompleto div div form  .bottoni_LUC{
    font-size: 120%;
    margin-left: 27%;
    margin-top: 2%;
    width: 20%;
    height: 15%;
  }
  .loginCompleto div div form  .bottoneLUC{
    margin-left: 5%;
  }
  /*LUC*/
  .campiA{
    height: 10%;
  }
  .loginCompleto div div form .bottoni_LUCA{
    height: 10%;
  }

  /*HU*/
.menuNavigazione div nav{
margin-bottom: 0%;
margin-left: 0%;
width: 100%;
}
  .menuNavigazione div nav .menuSelezioneInterno ul li .menuSelezione{
    font-size: 110%;
  font-style: normal;
  font-weight: bold;
  }

  .main div main .section div section .h2{
    margin-top: 2%;
    font-size: 220%;
  }

  .main div main .section div section ul{
      margin-bottom: 0%;
      min-height: 30vh;
      max-height: 50vh;
      width: 80%;
      margin-left: 10%;
  }

  .main div main .section div section ul .contenitore{
    margin-top: 2%;
    padding: 1%;
    width: 70%;
    margin-left: 15%;
  }
  .main div main .section div section ul  .contenitore .elemento {
  font-size: 120%;
  }
  .main div main .section div section ul .contenitore .descrizione{
  font-size: 105%;
  }
  .main div main .section div section ul .contenitore .prezzo{
    font-size: 105%;
  }
  .main div main .section div section ul .contenitore .btAggiungiAlCarrello{
  font-size: 90%;
  width: 40%;
  height: 6vh;
  }
  .main div main .section div section form .btCarrello {
    margin-bottom: 0.5%;
    width: 31%;
    font-size: 140%;
    height: 8vh;
  }

  /* CARRELLO CU*/
  .main div main .section div section #lista_carrello{
      min-height: 20vh;
      max-height: 40vh;
      margin-bottom: 0%;
  }
  .main div main .section div section ul .contenitoreCarrello{
    width: 40%;
    margin-left: 30%;
    height: 40%;
  }


  #carrelloVuoto{
    font-size: 150%;
    margin-top: 10%;
  }
  .main div main .section div section #pagare #mostrosomma{
    margin-top: 2%;
    font-size: 180%;
  }
  .main div main .section div section #lista_carrello .eliminaQuantita{
  font-size: 100%;
  margin: 0%;
  }


  .main div main .section div section #lista_carrello .quantityCart{
    font-size: 100%;
      margin: 0%;
  }


  .main div main .section div section #lista_carrello .contenitore .labelQuantitàCibo{
  font-size: 100%;
    margin: 0%;
  }

  /*
  /*NOTIFICHE UTENTE*/
    .main div main .section div section  #elencoNotifiche{
    min-height: 50vh;
    max-height: 50vh;
    margin-top: 2%;
  }

  .main div main .section div section #elencoNotifiche .nessunaNotifica {
   font-size: 160%;
   margin-top: 15%;
  margin-left: 4%;
  }

  .main div main .section div section #elencoNotifiche .notificaNuova h4{
    font-size: 130%;
  }
  .main div main .section div section #elencoNotifiche .notificaLetta h4{
    font-size: 130%;
  }
  .main div main .section div section #elencoNotifiche .notificaNuova{
    font-size: 110%;
  }
  .main div main .section div section #elencoNotifiche .notificaLetta{
    font-size: 110%;
  }

  .main div main .section div section div form .buttonRimuoviNotifiche{
    font-size: 150%;
    height: 8vh;
  }

  /*PAGINA HA*/

  #menuNavigazioneAmministratore div{
    height: 10%;
  }

  #menuNavigazioneAmministratore div nav div{
    height: 40%;
  }
  #menuNavigazioneAmministratore div nav div .bottoniAdmin{
margin-top: 2%;
margin-bottom: 2%;
width: 45%;
  }

  /*PAGINA ANAAA*/
  .main div main div div section {
    font-size: 90%;
  }

    .main div main  .formAlimenti{
      margin-top: 0%;
    }

  .main div main  .formAlimenti div #aggiungiAlimento .divAggiungiAlimento{
    height: 6vh;
    margin-top: 3%;
    width: 50%;
    margin-left: 25%;
    font-size: 70%;
  }

  .main div main  .formAlimenti div #aggiungiAlimento .divAggiungiAlimento input{
    height: 100%;
    font-size: 159%;
  }

  .main div main  .formAlimenti div #aggiungiAlimento .divAggiungiAlimento textarea{
      font-size: 150%;
    }

  #btAggiungiAlimento1{
    font-size: 130%;
    height: 8vh;
    margin-top: 1%;
  }

  .main div main .section div section #lista_amministratore {
    width: 100%;
  }

  .main div main .section div section #lista_amministratore .formModificaAlimenti  {
  font-size: 110%;
  width: 60%;
  margin-left: 20%;
  }

  .main div main .section div section #lista_amministratore .formModificaAlimenti  .incrementaMax {
    font-size: 100%;
    margin-top: 3%;
    width: 20%;
    margin-right: 2%;
  }
}
